@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

/*  Partie haute par Jonathan */

/*l'image de fond*/
#box-wrapper {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

/* Header */
header {
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
    color: #ffffff;
} 

article p a {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;

}

h1 {
    font-size: 90px;
    color: #ffffff;
    font-weight: bold;
}

/*Footer*/
footer {
    background-color: #f5f5f5;
    margin-left: 75px;
    margin-right: 75px;
    text-align: left;
    text-decoration: none;
    color: #717981;
} 

article ul {
    text-decoration: none;
    text-align: center;
    display: flex;
}
#copyright  {
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        color: #4e5754;
}




/* Partie Centrale par Benjamin */

section {
    background-color: white;
    border: solid grey 2px;
    margin-left: 75px;
    margin-right: 75px;
}

/* Headline*/

h2 {
    text-align: center;
}

section img {
    width: 898px;
    height: 438px;
    margin-left: 128px;
    margin-right: 128px;
}

section p {
    text-align: center;
}
/* Partie Bootstrap*/

.col-lg-6 {
    border: solid 1px grey;
    height: 796px;
}

.col-lg-6 img {
    width: 80%;
    height: auto;
    margin: auto;
}