@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

/*  Partie haute par Jonathan */

/*l'image de fond*/
#box-wrapper {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

/* Header */
header {
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
    color: #ffffff;
} 

article p a {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;

}

h1 {
    font-size: 90px;
    color: #ffffff;
    font-weight: bold;
}

/*Footer*/
footer {
    background-color: #f5f5f5;
    margin-left: 75px;
    margin-right: 75px;
    text-align: left;
    text-decoration: none;
    color: #717981;
} 

.container {
    margin: 0px 0px 0px 0px;
    padding-left: 15px;
    padding-right: 0px; 
}

#name {
    border: solid 1px #e2e2e2;
    background-color: #f5f5f5;
    width: 450px;
    height: 45px;
}
#email {
    border: solid 1px #e2e2e2;
    background-color: #f5f5f5;
    width: 450px;
    height: 45px;
}
#message {
    border: solid 1px #e2e2e2;
    background-color: #f5f5f5;
    width: 450px;
    height: 150px;
}
.special {
    font-weight: bold;
    color: #797981;
    height: 55px;
    border: solid 2px #797981;
    background-color: #f5f5f5;
    padding: 1px 30px 1px 30px;
    text-align: center;
}
article {
    font-weight: bold;
    color: #717981;
    margin: 50px;
    margin-left: 50px;
}

article ul {
    text-decoration: none;
    text-align: center;
    display: flex;
}

article p {

}

nav {
    background-color: transparent;
    font-weight: bold;
    margin-top: 50px;
}
#copyright  {
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        color: #4e5754;
        margin-top: 50px;
        padding-bottom: 50px;
}




/* Partie Centrale par Benjamin */

section {
    background-color: white;
    border: solid #e2e2e2 2px; /* modification couleur bordure*/
    margin-left: 75px;
    margin-right: 75px;
}

/* Headline*/

h2 {
    text-align: center;
}

section img {
    width: 898px;
    height: 438px;
    margin-left: 128px;
    margin-right: 128px;
}

section p {
    text-align: center;
}
/* Partie Bootstrap*/

.col-lg-6 {
    border: solid 1px #e2e2e2;   /* modification couleur bordure*/
    height: 796px;
}

.col-lg-6 img {
    width: 80%;
    height: auto;
    margin: auto;
}